*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
}
h1{
    display: none;
}

/*HEADER*/

#cabezal{
    width: 100%;   
    aspect-ratio: 16 / 9;

    display: block;
    overflow: hidden;
    position: relative;
    z-index: 100;
}
#cabezal video{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    object-fit: cover;
    position: absolute;
}
header{
    position: relative;
    width: 100%;
    text-align: center;
}
header img{
    width: 20%;
    max-width: 150px;
    padding: 10px;
    border-radius: 100%;
}


/*CATEGORIAS*/


#galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding: 5px;
    background-color: black;
}
#galeria article{
    flex: 20%;
    min-width: 200px;
    aspect-ratio: 4 / 3;

    margin: 10px;
    position: relative;
}
#galeria article video{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    object-fit: cover;
    position: absolute;
}
.categorias{
    position: relative;
    text-align: center;
    padding: 10px;
    padding-bottom: 20px;
}
.categorias img{
    width: 40%;
    max-width: 150px;
    border-radius: 100%;
    padding: 10px;
    margin-top: 10px;
}
.categorias p{
    color: white;
    font-size: 18px;
    padding-bottom: 30px;
}
.categorias a{
    color: black;
    text-decoration: none;

    background-color: white;
    padding: 10px;
}


/*ACERCA DE*/

#acerca{
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
}
#acerca div{
    flex: 30%;
    min-width: 200px;
    text-align: center;
}
#acerca div img{
    width: 90%;
    border-radius: 100%;
    padding: 10px;
}
#acerca article{
    flex: 70%;
    padding: 15px;
}
#acerca article h2{
    font-size: 40px;
    margin: 10px;
}
#acerca article p{
    font-size: 15px;
    margin: 10px;
}
/*
@media screen and (min-width: 1024px) {
    #acerca{
        display: flex;
        
    }
}
*/

/*FOOTER*/
footer{
    background-color: black;
}
footer p{
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 10px;
}
#redes{
    display: flex;
    justify-content: center;
}
#redes div{
    text-align: center;
    width: 70px;
    min-width: 50px;
    padding: 5px;
    margin: 10px;
}
#redes div img{
    width: 100%;
    border-radius: 100%;
}











